<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <head>Submit an article</head>

    <form id="articleForm" action="/submit-article" method="post">
      <div class="input-field">
          <label for="first_name">First Name</label>
          <input type="text" id="first_name" name="first_name" required>
      </div>
      <div class="input-field">
          <label for="last_name">Last Name</label>
          <input type="text" id="last_name" name="last_name" required>
      </div>
      <div class="input-field">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
    </div>
      <div class="input-field">
          <label for="title">Article Title</label>
          <input type="text" id="title" name="title" required>
      </div>
      <div class="input-field">
          <label for="text">Text</label>
          <textarea id="content" name="text" required></textarea>
      </div>
      <div class="input-field">
          <label for="institution">Institution</label>
          <input type="text" id="institution" name="institution">
      </div>
      <div class="input-field">
          <label for="date">Date Finished</label>
          <input type="date" id="date" name="date" required>
      </div>
      <button type="submit">Submit Event</button>
  </form>

    <p>to prevent misinformation, all submissions will be reviewed before being they are posted</p>

</body>
</html>