<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Name</title>
    <link rel="stylesheet" href="stylesheets/home.css">

    
</head>
<body>
    <nav>
    
        <ul>
          
          <li><a href ="/map">POLLUTION MAP</a></li>
          <li><a href ="/map">POLLUTION MAP</a></li>
          <li><a class = "nav-color black-text col" href = "/articles">ARTICLES</a></li>
          <li><a class = "nav-color black-text col" href = "/opportunities">OPPORTUNITIES</a></li>
          <li><a href ="/getinvolved">GET INVOLVED</a></li>
          <!-- <li><a class = "nav-color " href = "/pictureupload">upload your picture!!</a></li> -->
          <li><a href = "/more">more</a></li>
          </row>
        </ul>
    
      </nav>
      
    <h1>Our Name</h1>
    
    <div id="form-container">
      <form id="zipCodeForm" onsubmit="searchZipCode(event)">
          <label for="zipCode">Enter your zip code:</label>
          <input type="text" id="zipCode" name="zipCode" required placeholder="Zip Code">
          <button type="submit">Search</button>
      </form>
  </div>
    <!-- <form>

    </form> -->
</body>
</html>