    #navlogo {
        margin-top: 10px;
        margin-left: 5px;
        height: 50px;
        width: 50px;
    }

    .nav-color li {
        margin-right: 20px; /* Adjust space between items */
    }

    ul.nav-color {
        list-style: none; /* Remove bullets */
        padding: 0;
    }
