<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Name</title>
    <link rel="stylesheet" href="stylesheets/home.css">

    
</head>
<body>
  <div class = "first_bg">

    <nav>
    
        <ul>
          
          <li><a href ="#second_bg"> ABOUT US</a></li>
          <li><a href ="/map">POLLUTION MAP</a></li>
          <li><a class = "nav-color black-text col" href = "/articles">ARTICLES</a></li>
          <li><h1>Green Speak</h1></li>
          <li><a class = "nav-color black-text col" href = "/opportunities">OPPORTUNITIES</a></li>
          <li><a href ="/getinvolved">GET INVOLVED</a></li>
          <!-- <li><a class = "nav-color " href = "/pictureupload">upload your picture!!</a></li> -->
          <li><a href = "/more">more</a></li>
          </row>
        </ul>
    
      </nav>
      
    <div id="form-container">
    <form id="zipCodeForm" action="/nearyou" method="get">
      <label for="zipCode">Enter your zip code:</label>
      <p>Find out more information about pollution in your area!</p>
      <input type="text" id="zipCode" name="zipCode" required placeholder="Zip Code">
      <button type="submit">Search</button>
    </form>
  </div>
</div>

<div id="second_bg">
  <div class="content-container">
    <h1>ABOUT US</h1>
    <p>We are a group of high school students who want to help YOU get involved in your community. Pollution is growing fast, and we want to offer you ways on how to learn about the details and how you can contribute (I wrote this really quickly; we can edit).</p>
  </div>
</div>

</body>
</html>