<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Name</title>
    <link rel="stylesheet" href="stylesheets/home.css">

    
</head>
<body>
  <div class = "first_bg">

    <nav>
    
        <ul>
          
          <li><a href ="#second_bg"> ABOUT US</a></li>
          <li><a href ="#third_bg">POLLUTION MAP</a></li>
          <li><a class = "nav-color black-text col" href = "/articles">ARTICLES</a></li>
          <li><h1>Green Speak</h1></li>
          <li><a class = "nav-color black-text col" href = "/opportunities">OPPORTUNITIES</a></li>
          <li><a href ="/getinvolved">GET INVOLVED</a></li>
          <!-- <li><a class = "nav-color " href = "/pictureupload">upload your picture!!</a></li> -->
          <li><a href = "/more">more</a></li>
          </row>
        </ul>
    
      </nav>
      
    <div id="form-container">
    <form id="zipCodeForm" action="/nearyou" method="get">
      <label for="zipCode">Enter your zip code:</label>
      <p>Find out more information about pollution in your area!</p>
      <input type="text" id="zipCode" name="zipCode" required placeholder="Zip Code">
      <button type="submit">Search</button>
    </form>
  </div>
</div>

<div id="second_bg">
  <div class="content-container">
    <img src="/images/group.png" >
    <div class = "text-container">

    <h1>ABOUT US</h1>
    <p>We are a group of high school students who want to help YOU get involved in your community. Pollution is growing fast, and we want to offer you ways on how to learn about the details and how you can contribute. Start off by entering your zip code above to view detailed information about the pollution levels in our area, as well as get general generated advice. Next, head over to our article section to view various writings regarding the health of our environemnt. To get specifc opportunities near you, head of over to the opportunities section to post or see activities you can partake in.   (I wrote this really quickly; we can edit).</p>
    </div>
  </div>
</div>

<div id = "third_bg">
  <div class = "content-container">
    <iframe src="https://aqicn.org/map/geo/" style="width: 100%; height: 500px; border: none;"></iframe>

  <p>Our pollution map uses bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bal blab lablsdblab jlsbadjl balsdbl kanflsk kl sanfklnlkadsnfskl nalksfn lkasnlfk nsalkfn lakn feljb galjbflwjbflj awsljf blwajbf ljwabl fjbwlja bljfbw lfjbldj lajfpiwlkjaflklawksfnlaejbwljarnlan</p>
  <h1>POLLUTION MAP</h1>
  </div>
</div>

</body>
</html>