<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opportunities/Events</title>
    <link rel="stylesheet" href="stylesheets/home.css">
    <link rel="stylesheet" href="stylesheets/opportunities.css">
</head>
<body>
    
    <nav>
        <ul>
            <li><a href="/">HOME PAGE</a></li>
            <li><a href="/map">POLLUTION MAP</a></li>
            <li><a href="/articles">ARTICLES</a></li>
            <li><div class="nav-title">Green Speak</div></li>
            <li><a href="/opportunities">OPPORTUNITIES</a></li>
            <li><a href="/getinvolved">GET INVOLVED</a></li>
            <li><a href="/more">more</a></li>
        </ul>
    </nav>

    <h2>Opportunities and Events</h2>

    <% if (opportunities.length === 0) { %>
        <p>No opportunities available.</p>
    <% } else { %>
        <% opportunities.forEach(opportunity => { %>
            <a href="/opportunities/<%= opportunity.opp_id %>" class="opportunity-button">
                <h3><%= opportunity.event %></h3>
                <p><strong>Organizer/Organization:</strong> <%= opportunity.organization %></p>
                <p><strong>Date:</strong> <%= new Date(opportunity.date).toISOString().slice(0, 10) %></p>
            </a>
        <% }); %>
    <% } %>

    <div><a class = "black-text col" href = "/oppsub">submit an opportunity</a></div>

</body>
</html>