<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opportunities</title>
</head>
<body>
    <p>list of opportunities....</p>
    <div><a class = "black-text col" href = "/oppsub">submit an event</a></div>
    <p>option to submit their own -- take them to a new page</p>
</body>
</html>