body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    color: #2b3e50;
    padding-left: 80px;
    padding-right: 80px;   
}
/* 
.article-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

h1 {
    color: #2b3e50;
    margin-bottom: 10px;
    font-size: 2.5em;
    text-align: left; 
}

.article-description {
    font-size: 1.2em;
    margin-bottom: 40px;
    text-align: left; 
}

.articles {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.article-button {
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(167, 204, 181);     
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.article-button h3 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

.article-button p {
    margin: 10px 0;
}

.article-button:hover {
    background-color: rgb(145, 188, 162); 
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.submit-article {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(135, 192, 157); 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

.submit-article:hover {
    background-color: rgb(117, 179, 141); 
}

.submit-article-container {
    width: 100%;
    text-align: left;
    margin-top: 20px;
}

.close {
    color: #aaa;
    align-self: flex-end; 
    font-size: 24px; 
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.input-field {
    margin-bottom: 15px;
    width: 700px; 
}

.input-field label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.input-field input,
.input-field textarea {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

textarea {
    height: 150px; 
    resize: vertical; 
}

.submit-btn {
    background-color: #b8dfb9;
    color: white;
    padding: 12px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left:170px;
    font-size: 16px; 
}

.submit-btn:hover {
    background-color: #68b46c;
}

#formP {
    font-size: 14px;
    color: #333;
    text-align: center; 
} */
