@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif; /* Set a default font */
    padding-top: 100px;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

#navlogo {
    margin-right: 10px; 
    height: 50px; 
    width: 50px; 
}

ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

li {
    margin-right: 20px; 
}

nav {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    height: 80px; 
    padding: 0 20px; 
    position:fixed;
    width:100%;
    border-bottom: #000000;
    /* margin-left:-25px; */
}


.nav-title {
    padding: 5px 10px; 
    margin-top: 3px;
    font-size: 40px; 
    font-weight: bold;
    color: rgba(53,76,62,255); /* Original font color */
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif; /* Font family */
    transition: color 0.3s ease; /* Smooth transition for color */
}

.title-scrolled {
    color: rgba(53,76,62,255); /* Change font color when scrolled */
}

.navbar .nav-link {
    font-family: 'Poppins', sans-serif;
    color: black; /* Default color when transparent */
    transition: color 1s ease-in-out; /* Smooth transition */
}

.navbar.bg-transparent {
    background-color: transparent !important;
    transition: background-color 0.3s ease-in-out;
}

.navbar.bg-scrolled {
    background-color: rgba(255, 255, 255, 0.9) !important; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar.bg-scrolled .nav-link {
    color: black !important;
}