body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding-top: 0;
}

#homelink {
    width: 106.61px;
}  

.navbar .nav-link {
    font-family: 'Poppins', sans-serif;
    /* color: rgb(255, 255, 255);  */
    color: white;
    transition: color 0.3s ease-in-out; 
}

.navbar.bg-transparent {
    background-color: transparent !important;
    transition: background-color 0.3s ease-in-out;
}

.first_bg{  
    height:100vh;
    background-image:url('/images/nature10.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#second_bg {
    /* background-color: rgb(218, 231, 223); */
    background-color: rgb(221, 221, 221);
    scroll-margin-top: 80px;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left; 
}

.content-container {
    display: flex;
    max-width: 1200px; 
    width: 100%; 
    gap: 40px; 
}

#second_bg img {
    width: 200px; 
    max-height:200px;
    margin-top:20px;
    height: auto; 
}

#second_bg h1 {
    font-size: 36px; 
    color: #000000; 
    margin: 0; 
    text-align: center;
}

.text-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

#second_bg p {
    font-size: 20px; 
    color: #333; 
    line-height: 1.5;
}

#third_bg {
    background-color: #55833d;
    scroll-margin-top: 80px;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left; 
}
#third_bg h1 {
    font-size: 36px; 
    /* color: #000000;  */
    margin: 0; 
    text-align: center;
}

#third_bg p {
    font-size: 18px; 
    /* color: #333;  */
    line-height: 1.5;
}

#third_bg img {
    max-width: 200px; 
    max-height: 200px;  
    height: auto;      
    margin-right: 20px; 
    align-items: center;
    justify-content: center;
    margin-top:10px;

}

#third_bg iframe{
    height:100px;
}

#article-section img {
    width: 170px; 
    max-height:170px;
    height: auto; 
    margin-top:30px;
}

#opp-section img {
    width: 200px; 
    max-height:200px;
    height: auto; 
    margin-top:5px;
}

#learn-more {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

#learn-more a {
    text-decoration:underline; 
    text-align:center;
    color: #333; 
    padding: 10px 0; 
    background-color: transparent; 
    border: none; 
    border-radius: 5px; 
    font-size: 20px; 
    font-family: 'Times New Roman', Times, serif; 
    transition: color 0.3s; 
    line-height: 1.5;
}

#learn-more a:hover {
    color: #4CAF50;
}

#learn-more img {
    margin-left: 10px; 
    width: 30px; 
    height: 30px; 
    align-self: center; 
    margin-top:0px;
}

#article-section {
    /* background-color: rgb(218, 231, 223); */
    background-color: rgba(231, 227, 216, 1);
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left; 
}

#article-section h1 {
    font-size: 36px; 
    color: #000000; 
    margin: 0; 
    text-align: center;
}

#article-section p {
    font-size: 20px; 
    color: #333; 
    line-height: 1.5;
}

#opp-section {
    /* background-color: rgb(255, 255, 255); */
    /* background-color:#28a745; */
    background-color: #55833d;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left; 
}

#opp-section h1 {
    font-size: 36px; 
    /* color: #000000;  */
    margin: 0; 
    text-align: center;
}

#opp-section p {
    font-size: 20px; 
    /* color: #333;  */
    line-height: 1.5;
}

#zipCodeForm {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px; 
    border-radius: 5px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    width: 400px; 
    text-align: center; 
    align-items: center;
    height: 200px;
}

#zipCodeForm input {
    box-sizing: border-box;
    width: 80%;
    margin-top: -10px;
    margin-bottom: 15px;
}

#form-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 90vh; 
}

label {
    font-size: 30px;
}

input[type="text"] {
    width: 90%; 
    padding: 15px; 
    font-size: 18px; 
    margin-top: 10px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
}

button {
    width: 100%; 
    padding: 15px; 
    font-size: 18px; 
    /* background-color: #4CAF50;  */
    background-color: #45a049;
    color: white; 
    border: none; 
    border-radius: 5px; 
    margin-top: 10px; 
    cursor: pointer; 
}

button:hover {
    background-color: #61ce67; 
}

.footer {
    background-color: #f8f9fa;
    padding-top: 40px;
    padding-bottom: 20px;
}

.footer h5 {
    color: #333;
    font-weight: bold;
}

.footer .input-group {
    max-width: 400px;
}

.footer .btn-outline-dark {
    border: 1px solid #6c757d;
}

.footer .btn-outline-dark:hover {
    background-color: #6c757d;
    color: white;
}

.footer .text-dark:hover {
    text-decoration: underline;
}

.footer .bg-dark {
    background-color: #343a40 !important;
}

.footer .social-icons a {
    margin: 0 5px;
}

.footer .social-icons a:hover {
    color: #28a745;
}



