html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    
}
.first_bg{
    height:100vh;
    background-image:url('/images/nature.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#second_bg {
    background-color: rgb(218, 231, 223);
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left; 
}

.content-container {
    display: flex;
    max-width: 1200px; 
    width: 100%; 
    gap: 40px; 
}

#second_bg img {
    width: 200px; 
    height: auto; 
}

#second_bg h1 {
    font-size: 36px; 
    color: #000000; 
    margin: 0; 
    text-align: center;
}

.text-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

#second_bg p {
    font-size: 18px; 
    color: #333; 
    line-height: 1.5;
}

#third_bg {
    background-color: rgb(255, 255, 255);
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left; 
}
#third_bg h1 {
    font-size: 36px; 
    color: #000000; 
    margin: 0; 
    text-align: center;
}

#third_bg p {
    font-size: 18px; 
    color: #333; 
    line-height: 1.5;
    

}

#third_bg img {
    max-width: 200px; 
    max-height: 200px;  
    height: auto;      
    margin-right: 20px; 
    align-items: center;
    justify-content: center;
    margin-top:100px;
}

#third_bg iframe{
    height:100px;
}
#article-section img {
    width: 170px; 
    max-height:170px;
    height: auto; 
    margin-top:30px;
}

#learn-more {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

#learn-more a {
    text-decoration: none; 
    text-align:center;
    color: #333; 
    padding: 10px 0; 
    background-color: transparent; 
    border: none; 
    border-radius: 5px; 
    font-size: 20px; 
    font-family: 'Times New Roman', Times, serif; 
    transition: color 0.3s; 
    line-height: 1.5;
}

#learn-more a:hover {
    color: #4CAF50;
}

#learn-more img {
    margin-left: 10px; 
    width: 30px; 
    height: 30px; 
    align-self: center; 
    margin-top:0px;
}

#article-section {
    background-color: rgb(218, 231, 223);
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left; 
}



#article-section h1 {
    font-size: 36px; 
    color: #000000; 
    margin: 0; 
    text-align: center;
}

#article-section p {
    font-size: 20px; 
    color: #333; 
    line-height: 1.5;
}






form {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px; 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    width: 400px; 
    text-align: center; 
    align-items: center;
    height: 200px;
}

#form-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 75vh; 
}

label {
    font-size: 30px;
}

input[type="text"] {
    width: 90%; 
    padding: 15px; 
    font-size: 18px; 
    margin-top: 10px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
}

button {
    width: 100%; 
    padding: 15px; 
    font-size: 18px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    margin-top: 10px; 
    cursor: pointer; 
}

button:hover {
    background-color: #45a049; 
}

nav {
    background-color: rgb(218, 231, 223); 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 60px; 
    padding: 0 20px; 
}

ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

li {
    margin-right: 20px; 
}

nav a {
    text-decoration: none; 
    color: #333; 
    padding: 10px 20px; 
    background-color: transparent; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    font-family: 'Times New Roman', Times, serif; 
    transition: color 0.3s; 
}

nav a:hover {
    color: #4CAF50; 
}

nav a.active {
    background-color: #4CAF50; 
    color: white; 
}

#navlogo {
    margin-right: 10px; 
    height: 50px; 
    width: 50px; 
}

nav h1 {
    margin: 0; 
    font-size: 35px; 
    color: #000; 
    text-align: center; 
}
