html {
    overflow-y: scroll;
}

body {
    font-family: Arial, sans-serif;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #f9f9f9;
}

h2 {
    margin-bottom: 20px;
}

.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); 
    z-index: 2; 
}
.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.navbar.bg-transparent {
    background-color: rgb(238, 238, 238) !important;
}
/* 
.navbar.bg-scrolled {
    background-color: rgba(238, 238, 238, 0.9) !important; 
} */