


html {
    overflow-y: scroll;

}

body {
    padding-left: 80px;
    padding-right: 80px;
    background-color: rgba(86, 131, 61, 0.138);
    background-image: url(/images/blurimg2.jpeg);
}

h2 {
    margin-bottom: 20px;
}

.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); 
    z-index: 2; 
}
.card:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* 
.navbar.bg-scrolled {
    background-color: rgba(238, 238, 238, 0.9) !important; 
} */

button:hover {
    background-color: #28a745;
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

