


html {
    overflow-y: scroll;

}

#sbartbtn {
    background-color: #55833D;
    transition: background-color 0.3s ease;
}

#sbartbtn:hover {
    background-color: #3d5b2cbd;
}
.submit-opportunity-container {
    margin-bottom: 2rem;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
}

.submit-opportunity-container.visible {
    opacity: 1;
    transform: translateY(0);
}

.btn-outline-custom {
    color: #55833D; 
    background-color: transparent;
    border-color: #55833D;
}
  
.btn-outline-custom:hover {
    background-color: #55833D;
    color: white; 
}

body {
    padding-left: 80px;
    padding-right: 80px;
    background-color: rgba(86, 131, 61, 0.138);
    background-image: url(/images/blurimg4.jpeg);
}

h2 {
    margin-bottom: 20px;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card:hover {
    transform: scale(1.05); 
    z-index: 2; 
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.card:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* 
.navbar.bg-scrolled {
    background-color: rgba(238, 238, 238, 0.9) !important; 
} */

button:hover {
    background-color: #28a745;
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.slide-in-up {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
}

.slide-in-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.8s ease-out;
}

.slide-in-right {
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.8s ease-out;
}

.slide-in-up.visible,
.slide-in-left.visible,
.slide-in-right.visible {
    opacity: 1;
    transform: translate(0);
}

.delay-200 { transition-delay: 200ms; }
.delay-400 { transition-delay: 400ms; }


