body {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 120px;
    background-color: #55833d;
}

.masonry-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.card {
    margin-bottom: 20px;
}
  
.card {
    margin-bottom: 20px;
}

.card-header{
    background-color: #d3d4d3;
}

.widget-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.air-quality-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}